:root {
    --main-color: rgb(2, 48, 71);
    --header-color: rgb(255, 255, 255);
    --paragraph-color: rgb(192, 190, 190);
    --button-img: linear-gradient(rgb(255, 255, 0), rgb(255, 138, 5));
    --card-color: rgb(223, 225, 226);
  }
  
  /* Header stuff */
  header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 50px;
    background-color: var(--main-color);
  }
  
  header section {
    color: var(--header-color);
    display: grid;
    grid-template-columns: 80px 1fr;
    margin: 0;
  }
  
  header section img {
    width: 50px;
    margin: 0;
  }
  
  header section h1 {
    color: var(--header-color);
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
  }
  
  header section p {
    color: var(--header-color);
    margin: 0;
    padding: 0;
  }
  
  /* nav */
  nav {
    display: flex;
    place-self: last baseline;
    width: 20rem;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: var(--paragraph-color);
    font-weight: 400;
  }
  
  nav a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
  }
  
  .active {
    background-color: #5b00b1;
    padding: 0 8px;
    border-radius: 30px;
  }
  
  /* hamburger */
  #menu {
    display: none;
  }
  
  /* main content */
  main {
    width: 90%;
    margin: 0 auto;
  }
  
  #hero img {
    position: relative;
    /* transform: rotate(90deg); */
    width: 100%;
    height: 500px;
  }
  
  #hero button {
    background-image: linear-gradient(
      to right,
      #314755 0%,
      #26a0da 51%,
      #314755 100%
    );
    /* margin: 10px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  
    position: absolute;
    bottom: 100px;
    right: 120px;
    padding: 10px;
  }
  
  #hero button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    font-size: 19px;
  }
  
  /* info */
  #info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
  }
  
  #info section {
    border: 2px solid var(--paragraph-color);
    padding: 0;
    border-radius: 10px;
    background-color: var(--card-color);
  }
  
  #info section h3 {
    padding: 15px 15px;
    margin: 0;
    font-size: 20px;
    background-color: black;
    color: var(--card-color);
    border-radius: 9px 9px 0 0;
  }
  
  #weather {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 10px;
  }
  
  #emoji {
    font-size: 50px;
    justify-self: center;
    align-items: first baseline;
  }
  
  #info section:last-of-type p {
    padding: 0 10px;
    font-size: 20px;
  }
  
  /* business */
  
  /* grid/list toggle */
  .menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: var(--main-color);
    color: var(--header-color);
    text-align: center;
  }
  
  .menu button {
    padding: 1rem;
    font-weight: 700;
  }
  
  .menu button:hover {
    background-color: #fff;
  }
  
  /* cards */
  
  /* grid-view */
  .grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    align-items: center;
  }
  
  .grid section {
    border-radius: 10px;
    text-align: center;
    background-color: var(--card-color);
  }
  
  .grid section p:first-of-type {
    font-style: italic;
    font-size: 1rem;
    margin-top: 0;
  }
  
  .grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
  }
  
  .grid section > * {
    margin: 0.1rem;
  }
  
  .grid h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  
  /* list-view */
  .list {
    display: flex;
    flex-direction: column;
  }
  
  .list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
  }
  
  .list section > * {
    margin: 0 1rem;
    border: none;
  }
  
  .list section h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  
  .list section:nth-child(even) {
    background-color: var(--main-color);
    color: #d8d8d8;
  }
  
  .stuff {
    border-top: 2px solid black;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
  }
  
  .stuff div {
    text-align: left;
    padding-left: 15px;
  }
  
  .stuff div p {
    margin: 0;
    padding-bottom: 5px;
  }
  
  .stuff img {
    height: 100px;
    max-width: 100px;
  }
  
  /* discover page */
  
  #discover {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 10px;
  }
  
  #sidebar {
    position: relative;
  }
  
  #sidebar div {
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px 8px;
  }
  
  /* welcome msg */
  #welcome {
    background-image: var(--button-img);
    position: sticky;
  }
  
  #close {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 10px;
    background-image: var(--button-img);
    color: rgb(14, 13, 13);
    border: none;
  }
  
  .close {
    display: none;
  }
  
  /* calender */
  iframe {
    margin: 0 auto;
    width: 90%;
    height: 300px;
  }
  
  /* footer */
  footer {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 15px;
    color: var(--card-color);
  }
  
  footer p {
    padding: 0 0 5px 0;
    margin: 0;
  }
  
  #address p:first-of-type {
    padding-bottom: 10px;
    font-weight: 500;
  }
  
  #social {
    display: flex;
    align-self: baseline;
    gap: 20px;
  }
  
  #social img {
    width: 40px;
    border-radius: 40%;
  }
  
  #lastmodified {
    color: yellow;
  }
  